body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: beige;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 0;
    font-size: 1.2em;
    text-decoration: underline;
}

.Messege{
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid #ccc;
}

.contact-info p, .profile p, .experience ul, .education p, .skills ul, .projects p {
    margin: 5px 0;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.job, .degree, .project {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #aca9a9;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
}
